.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
inst/doc
docs/
/doc/
/Meta/
.DS_Store
lib/*
cobertura.xml
coverage.html
coverage.xml
docs
/revdep
/integration/keycloak/_problems

# Environment files (secrets)
.env
.env.*
!.env.example
!*.env.example
/shinyOAuth.Rcheck
..Rcheck/00check.log
shinyOAuth_0.3.0.9000.tar.gz
