on:
  push:
    branches: [main, master]
  pull_request:

name: jarl-check

permissions: read-all

jobs:
  jarl-check:
    name: jarl-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: etiennebacher/setup-jarl@058bb1314a6badb33b006021eee53558d4c543aa # v0.1.0
        with:
          src: "./R"
